In [1]:
#printing string
print("yashodha")

yashodha

In [4]:
a = 10
print(a)
print("Hello yashodha")
c = [10,20,30]
print(c)
d = (10,20)
print(d)

10
Hello yashodha
[10, 20, 30]
(10, 20)

In [5]:
#printing list
c = [10,20,30]
print(c)

[10, 20, 30]

In [6]:
#printing tuple
d = (10,20)
print(d)

(10, 20)

In [7]:
#dictionary
dictionary = {
    "Name" : "Yashodha",
    "USN" : "1NT20IS416",
    "Branch" : "ISE"
}
print(dictionary)

{'Name': 'Yashodha', 'USN': '1NT20IS416', 'Branch': 'ISE'}

In [8]:
dictionary = {
    "Name" : "Yashodha",
    "USN" : "1NT20IS416",
    "Branch" : "ISE"
}
print(dictionary)
print(len(dictionary))

{'Name': 'Yashodha', 'USN': '1NT20IS416', 'Branch': 'ISE'}
3

In [19]:
dictionary = {
    "Name" : "Yashodha",
    "USN" : "1NT20IS416",
    "Branch" : "ISE",
    "Subject": ["sc","spm"]
}
print(dictionary)
print(len(dictionary))

{'Name': 'Yashodha', 'USN': '1NT20IS416', 'Branch': 'ISE', 'Subject': ['sc', 'spm']}
4

In [20]:
dictionary = {
    "Name" : "Yashodha",
    "USN" : "1NT20IS416",
    "Branch" : "ISE",
    "Subject": ["sc","spm"]
}
print(dictionary)
print(len(dictionary))
print(type(dictionary))

{'Name': 'Yashodha', 'USN': '1NT20IS416', 'Branch': 'ISE', 'Subject': ['sc', 'spm']}
4
<class 'dict'>

In [24]:
names = {"yashodha","chandini","annapurna","asha","yashodha","asha"}
print(names)

{'chandini', 'annapurna', 'asha', 'yashodha'}

In [31]:
name1 = ["yashodha","annapurna","Chandini"]
name2 = [416,401,403]
print(name1)
print(type(name2))

['yashodha', 'annapurna', 'Chandini']
<class 'list'>

In [34]:
#boolean
a = 200
b = 33
if b > a:
    print("b is greater than a")
else:
    print("b is not greate that a")

b is not greate that a

In [35]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [36]:
bool("abc")
bool(123)
bool(["apple","cherry","banana"])

True

In [38]:
fruits = ["apple","banana","cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [39]:
fruits = ["apple","banana","cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [42]:
for x in range(2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [43]:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [46]:
for x in range(6):
    if x == 2: break
    print(x)
else:
    print("Finally finished!")

0
1

In [47]:
adj = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [1]:
#swap,linear,binary,bubble
a="Yashodha"
b="Chandini"
c="Annapurna"
b,a,c=a,b,c
print(a,b,c)

Chandini Yashodha Annapurna

In [57]:
#linear search
def search(a,key):
    for i in range(len(a)):
        if key==a[i]:
            return i+1
    return -1
a=[10,20,30,40,50,60]
print(search(a,50))

5

In [34]:
numbers = [80,90,100,120S,130,145,150]
length = len(numbers);
print(length)

7

# Mean program

In [36]:
def Mean():
    length = len(numbers)
    sum = 0
    for i in numbers:
        sum = sum+i
        mean= sum/length
    print("Mean is",mean)
Mean()

Mean is 116.42857142857143

# Median Program

In [55]:
n = len(numbers)
numbers.sort()

if n % 2 ==0:
    median1 = numbers[n//2]
    median2 = numbers[n//2 - 1]
    median = (median1 + median2)/2
else:
    median = numbers[n//2]
print("Median is:" + str(median))

Median is:120

# Mode Program

SyntaxError: invalid syntax (<ipython-input-58-fc406ebc43f8>, line 1)

In [59]:
#binary search
def binary(a,l,h,item):
    while l<=h:
        mid=l+h //2
        if a[mid]==item:
            return mid
        elif a[mid]< item:
            l=mid+1
        else:
            h=mid-1
    return -1
    
a=[10,20,30,40,50,60,70,80]
print(binary(a,0,len(a),40))

3

In [60]:
#bubble sort
def bubble(a):
    for j in range(len(a)):
        for i in range(0,len(a)-j-1):
            if a[i]>a[i+1]:
                a[i],a[i+1]=a[i+1],a[i]
    return #bubble sort
def bubble(a):
    for j in range(len(a)):
        for i in range(0,len(a)-j-1):
            if a[i]>a[i+1]:
                a[i],a[i+1]=a[i+1],a[i]
    return a
a=[233,44,116,3,57,33,2,34,55,988]
bubble(a)a
a=[233,44,116,3,57,33,2,34,55,988]
bubble(a)

[2, 3, 33, 34, 44, 55, 57, 116, 233, 988]